@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;

  --mui-palette-primary-main: #1976d2;
  --mui-palette-primary-light: #42a5f5;
  --mui-palette-primary-dark: #1565c0;
  --mui-palette-primary-contrastText: #0000;
  --app-text-color : #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 120, 120, 120;
    --background-end-rgb: 120, 120, 120;
    --mui-palette-primary-main: #1976d2;
    --mui-palette-primary-light: #42a5f5;
    --mui-palette-primary-dark: #082e50;
    --mui-palette-primary-contrastText: #0000;
    --app-text-color : #bd1d1d;
    --mui-primary-dark : #051c33;
    --mui-palette-selected-menu-item: #1976d26c;
    --mui-palette-selected-menu-item-light: #1976d23b;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

ul {
  list-style: none
}

* {
  margin: 0px;
  padding: 0px;
}