.container {
  height: 100%;
  width: 100%;
  background-color: #b6701e;
}

.leftMenu {
  background-color: #ff9e2c;
  float: left;
  width: 220px;
}

.content {
  background-color: #b6701e;
  float: left;
  width: calc(100% - 220px);
}