.container {
  height: 100%;
  width: 100%;
  background-color: gray;
}

.leftMenu {
  background-color: var(--mui-palette-primary-dark);
  float: left;
  width: 220px;
  height: 100%;
}

.content {
  background-color: var(--mui-primary-dark);
  padding: 30px;
  height: 100%;
  float: left;
  width: calc(100% - 220px);
}